/*Head*/
body{
	margin: 0; /* retire les marges sur les extremites du  body*/
}

header {
	background-color: #1c1c1c; /* met le backgroun de la division boutons+logo en gris foncé*/ 
	padding-bottom: 50px; /* étend la division boutons + logo de 50px vers le bas*/
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;	
}

main{

	padding-top: 50px;
	background-color: #161616;
	padding-left: 10px;
	padding-right: 10px;
}

footer {
	background-color: #1c1c1c;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

@font-face{ 
	font-family: bebas;
	src: local("bebas"), local("Bebas");
	src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
}

@font-face{
font-style: normal;
font-family: fja;
src: local("FJA"), local("fja");
src: url(https://fonts.gstatic.com/s/fjallaone/v8/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
}

@font-face{
	font-family: LTEMPHASIS;
	src: local("LTEMPHASIS"), local("LTEmphasis");
	src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2')
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
}


ul{
	display: table; /*Structure de tableau*/
	margin: 0 auto;
	padding: 0; /*Retire la marge in de base sur les listes*/
	list-style: square inside; /*Place les puces dans le bloc text de la liste*/
	color: white;
}

strong{
	color: green;
}

mark{
	background-color: green;
}

a{
	color: green;
}
/*Fin Head*/

/*HEADER*/

.titre_image{ /*Logo ZEVENT dans le header*/
	width: 100%;
	display: flex;
	justify-content: center;
}

.boutons { /*Regroupement des 3 buttons*/
	width: 100%;
	text-align: center; /*Center le texte dans les div buttons uniquement*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}

.boutons123{
	height: 60px;
}

.shape {
  stroke-dasharray: 140 540; /*Tronque la bordure pour que le début de l'animation se fasse en ligne en dessous des titres*/
  stroke-dashoffset: -474; /*Permet le dash de la ligne autour de la div*/
  stroke-width: 8px; /* Definit l'épaisseur de la ligne*/
  fill: transparent; /*Met le fond du ficher (du svg dans ce cas) en transparent*/
  stroke: green; /* Couleur de la ligne en vert*/
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s; /*ajout des delai pour les animations de retrécissement de ligne, de son dash et retour*/
}
.text {
  font-family: 'bebas';
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px; /*Place le texte au centre du svg en enlevant 48px au Y*/
  position: relative;
}

.boutons123:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.nodeco{ /*Enlève la déco texte sur les <a> du header*/
	text-decoration: none;
}


/*Fin du HEADER*/

/*Debut du main*/

.container{
	max-width: 990px;
	margin: 0 auto;
}

.presentationtitre{ /*Regroupe le titre de chaques pages*/
	text-align: center; /* aligne au centre la div contenant le titre des pages  */
	color: green; /*met le titre de chaque pages en vert */
	text-decoration: underline; /* souligne le titre   */
	font-size:  1.2em; /* change la taille de la police du  titre */
	font-family: bebas; /* chaange la police d'écriture du titre */
	margin-bottom: 50px; /* ajoute un espace de 60px ebn bas de la div du titre */
}

.titre{ /*Regroupe les titres des paragraphes*/
	text-align: center; /* aligne le texte de*/
	color: white;
	font-size: 1.1em;
	text-decoration: underline;
	font-family: bebas;
	margin-bottom: 50px;
}


.paragraphe{
	text-align: center;
	color: white;
	font-size: 1.1em;
	font-family: LTEMPHASIS;
	margin-bottom: 50px;
}

.galerie{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.galerie1{ /*Image type 300x300*/
	width: 300px;
	height: 300px;	                                                   
}

.galerie2 { /*Image 600x400*/
	width: 600px;
	height: 400px;	
}


.paragraphefingalerie{
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 1.1em;
	font-family: LTEMPHASIS; 
}

.fin{ /*HR fin de page sauf page1*/
	margin-bottom: 0px;
}

.HR{ /*HR galerie entre les imgaes*/
	width: 400px;
}

.fingalerie1{ /*HR fin de page 1*/
	margin-bottom: 0px;
}

.iframe{
	width: 600px;
	height: 400px;
}

@media (max-width: 960px) { /*Prend screen utilisateur > Ajustement*/
    .boutons {
        display: flex;
        align-items: center;
        flex-direction: column;
	}
}

@media (max-width: 600px) { /*Prend screen utilisateur > Ajustement*/
    .galerie2, .iframe, .video {
        width: 300px;
        height: auto;
    }

    .HR, .fingalerie1 {

    	width: 300px;
    }
}



.footertext{
	color: white;
	font-family: PT SANS;
}




h2 {
	margin-top: 0;
}

